@import url('https://fonts.googleapis.com/css2?family=Honk&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", serif;
}

a {
    text-decoration: none;
}

/* Navbar start here  */
header {
    background-color: #B0C1D9;
}

nav {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-image {
    height: auto;
    width: 5rem;
}

.nav-logo-name {
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: 900;
}

.nav-logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    /* border: 1px solid red; */
    cursor: pointer;
}

.nav-link-text {
    font-size: 1.2rem;
    color: white;
}

.nav-button {
    background-color: #1B6FAA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button a {
    color: white;
}

/* Navbar end here  */

/* banner start here  */
.banner {
    border: 1px solid black;
    background-image: url(./Asset/Image/Cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

.banner-text-container {
    color: white;
    display: grid;
    place-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    text-align: center;
}
.banner-btn{
    width: 10rem;
    background-color: #1B6FAA;
    color: white;
    padding: 20px 20px;
    border-radius: 15px;
    cursor: pointer;
}

/* banner end here  */